// /********************
// *    GCDI Styles    *
// ********************/
// /* Default Overrides */

// .display-label {
//   font-weight: bold;
//   padding-top: 5px;
// }

// .display-field {
//   padding-left: 5px;
// }

// .aside-main {
//   padding: 0px;
//   background: none;
//   font-weight: bold;
// }

// .text-box {
//   margin: 0px;
//   padding: 5px;
// }

// .editor-field {
//   margin: 0px 0 0px 160px;
//   padding: 4px;
//   text-align: right;
//   min-height: 31px;
//   textarea {
//     max-width: 100%;
//     height: 110px;
//   }
// }

// label {
//   font-size: 1em;
//   float: left;
//   text-align: right;
//   padding-top: 9px;
// }

// select {
//   width: 100%;
//   font-size: .85em;
//   padding: 5px;
//   margin-top: 0px;
// }

// /* Comment Sections */

// .comments {
//   background-color: #DDD;
//   padding: 0px 5px 0px 5px;
//   .editor-label {
//     padding: 0px;
//     margin: 0px;
//     float: left;
//   }
//   .editor-field {
//     padding: 0px;
//     margin: 0px;
//     max-width: 235px;
//   }
//   table {
//     width: 100%;
//   }
//   th {
//     text-align: center;
//     label {
//       float: none;
//       text-align: center;
//     }
//   }
//   td {
//     padding: 5px;
//   }
// }

// .comment-info {
//   background-color: #FFF;
//   border: 1px solid black;
//   margin-top: 3px;
//   .editor-label {
//     float: left;
//     display: inline-block;
//     width: 100%;
//     label {
//       text-align: center;
//       width: 100%;
//       display: inline-block;
//     }
//   }
//   .editor-field {
//     display: inline-block;
//     width: 99%;
//     margin: 0px;
//     padding: 0px;
//   }
// }

// .comment-container {
//   width: 50%;
//   float: left;
//   text-align: center;
// }

// /* Table Styles */

// .index-table {
//   width: 100%;
//   th {
//     border: 1px solid #E0E0E0;
//     background-color: #7C211E;
//     font-size: 1.2em;
//     color: white;
//     padding: 5px 5px 5px 0px;
//   }
//   tr {
//     font-size: .9em;
//     &:nth-child(odd) {
//       background-color: #FFF;
//     }
//     &:nth-child(even) {
//       background-color: #DDD;
//     }
//   }
//   ul {
//     margin: 0px;
//     padding-left: 20px;
//   }
// }

// .table-wrapper {
//   border-left: 7px solid black;
//   border-right: 7px solid black;
//   margin: 0px;
//   padding: 0px;
//   table {
//     margin: 0px;
//     padding: 0px;
//   }
// }

// .report-view-table {
//   text-align: center;
//   th {
//     border: 1px solid #E0E0E0;
//     background-color: #7C211E;
//     font-size: 1em;
//     color: white;
//     white-space: nowrap;
//     padding: 3px;
//     border-bottom: 4px solid black;
//   }
//   thead .fees {
//     background-color: #260d54;
//     white-space: normal;
//   }
//   tbody {
//     .fees {
//       border: 1px solid black;
//       background-color: #AAA;
//     }
//     tr:nth-child(odd) .fees {
//       background-color: #EEE;
//     }
//   }
//   tr {
//     font-size: .9em;
//     &:nth-child(odd) {
//       background-color: #FFF;
//     }
//     &:nth-child(even) {
//       background-color: #DDD;
//     }
//   }
//   ul {
//     margin: 0px;
//     padding-left: 20px;
//   }
//   td {
//     padding: 0px;
//   }
// }

// .presentation-view-table {
//   th {
//     font-size: 1em;
//     text-align: center;
//   }
//   tr {
//     border-bottom: 2px solid black;
//   }
// }

// .links {
//   background-color: #efeeef !important;
// }

// /* Positioning Styles*/

// .left-content {
//   float: left;
//   width: 58%;
// }

// .right-content {
//   float: right;
//   width: 40%;
// }

// .full-content {
//   float: left;
//   width: 100%;
// }

// .left-half-content {
//   float: left;
//   width: 50%;
// }

// .right-half-content {
//   float: right;
//   width: 50%;
// }

// /* Product Page */

// .product-info {
//   background-color: #CCC;
//   border: 1px solid black;
// }

// .general-info {
//   background-color: #DDD;
//   border: 1px solid black;
//   padding: 5px;
// }

// .vendor-info {
//   background-color: #CCC;
//   border: 1px solid black;
//   padding: 5px;
// }

.product-image {
  input[type="file"] {

    margin: 0px;
    padding: 0px;
  }
  .image {
    margin-top: 20px;
    img {
      max-height: 200px;
      max-width: 200px;
      margin-left: 10px;
    }
  }
}

// /* Product Price Styles*/

// .price-info {
//   background-color: #EEE;
//   border: 1px solid black;
//   &:first-child {
//     width: 100%;
//   }
// }

// .dolar-amount .editor-field .text-box {
//   margin-left: 160px;
// }

// .cost-info {
//   margin-bottom: 5px;
//   border-bottom: 2px solid black;
//   border-top: 2px solid black;
//   background-color: green;
//   font-size: large !important;
// }

.company-fees {
  a {
    display: none;
  }
}



// .fees {
//   .text-input {
//     width: 160px;
//   }
//   .editor-row .validation-summary-errors ul {
//     margin: 0px;
//   }
//   .editor-field {
//     margin: 0px 0px 0px 245px;
//   }
//   .single-line {
//     width: 24px;
//   }
// }

// .dollar-value, .percent-dollar-value {
//   width: 52px;
// }

// .percent-value {
//   width: 45px;
// }

// .dollar-fee-info {
//   border: 1px dashed black;
//   background-color: #c8c8c8;
// }

// .amortized-fee-info {
//   border: 1px dashed black;
//   background-color: #c8c8c8;
//   span {
//     text-align: right;
//   }
//   select {
//     width: 215px;
//   }
// }

// .amortized .editor-field {
//   margin: 0px 0px 0px 245px;
// }

// .upcharge-fee-info {
//   border: 1px dashed black;
//   background-color: #d7d7d7;
// }

// .percent-fee-info {
//   border: 1px dotted black;
//   background-color: #e2e2e2;
//   select {
//     width: 175px;
//   }
//   .radio {
//     text-align: left;
//     float: left;
//     font-size: .8em;
//     padding-top: 3px;
//   }
//   .percent-span {
//     float: left;
//     margin-left: 15px;
//   }
//   .radio input[type="radio"] {
//     width: 10px;
//   }
// }

// .compounded {
//   border: 1px dashed black;
//   background-color: #ccc;
// }

// .editor-row {
//   background-color: white;
//   margin: 1px;
//   border: 2px dotted black;
//   width: 99%;
//   .editor-label {
//     padding: 5px 2px 5px 3px;
//     float: left;
//   }
//   p {
//     margin: 10px 0px;
//   }
// }

// .fees .delete-row {
//   width: 19px;
//   padding: 0px 0px 3px 0px;
//   margin: 7px 0px 0px 5px;
//   float: left;
//   border-radius: 8px;
// }

// input {
//   &[type="radio"] {
//     width: auto;
//     margin: 0px;
//     padding: 0px;
//   }
//   &[type="text"] {
//     margin: 0px;
//   }
// }

// .single-line, .multi-line {
//   width: 95%;
// }

// .decoration-logo {
//   max-width: 200px;
//   max-height: 200px;
// }

// .sell-price-info {
//   .sell-prices {
//     .sell-price {
//       border: 2px solid black;
//       padding: 5px;
//       margin: 2px;
//       float: left;
//       width: 97%;
//     }
//     .final-sell-price {
//       border: 2px solid black;
//       border-top: 0px;
//       padding: 0px 5px 0px 5px;
//       margin: -2px 2px 2px 2px;
//       float: right;
//       min-width: 48%;
//       text-align: right;
//     }
//   }
//   .margin-alert {
//     color: red;
//     border: 1px solid red;
//     background-color: white;
//     padding: 2px;
//     font-size: large;
//     border-radius: 10px;
//     text-align: center;
//     display: none;
//   }
// }

// .sell-prices {
//   width: 120% !important;
// }

// .sell-price {
//   .left-content {
//     float: left;
//     width: 35%;
//   }
//   .right-content {
//     float: left;
//     width: 65%;
//   }
// }

// .site-title a {
//   background: url(../Images/logo.jpg) no-repeat !important;
//   padding-left: 210px;
// }

// .upcharge-info {
//   background-color: white;
//   float: right;
//   border: 2px dashed black;
//   width: 14%;
// }

// .upcharge {
//   border: 2px dotted black;
//   background-color: #c8c8c8;
//   .editor-label {
//     width: 40px;
//     padding: 5px;
//     float: left;
//   }
//   .editor-field {
//     margin: 0px;
//   }
//   p {
//     margin: 10px 0px;
//   }
//   .dollar-value {
//     width: 50px;
//   }
//   .delete-upcharge {
//     font-size: .9em;
//   }
// }

// label {
//   font-size: .85em;
// }

// input, textarea {
//   font-size: 1em;
// }

// .product-left-content {
//   float: left;
//   width: 36%;
// }

.product-right-content {
  flex-grow: 3;
}

// .product-decoration-info {
//   border: 1px solid black;
//   border-top: 2px;
//   border-bottom: 2px;
//   background-color: lightslategray;
//   margin-top: 3px;
//   h4 {
//     margin: 0px;
//     padding: 5px 0px 0px 5px;
//   }
//   button {
//     border-radius: 4px;
//   }
// }

// .product-decorations {
//   .editor-field {
//     margin: 0px 0px 0px 105px;
//   }
//   .product-decoration {
//     border: 1px dotted black;
//     margin: 2px;
//     padding: 2px;
//     background-color: aliceblue;
//     float: left;
//     width: 99%;
//   }
// }

// .left-third {
//   float: left;
//   min-width: 32.8%;
//   max-width: 32.8%;
//   border: 1px solid black;
//   margin-right: 2px;
//   background-color: #EFEFEF;
// }

// .left-two-thirds {
//   float: left;
//   width: 66.66%;
// }

// .dollar-amount-fee, .amortized-fee, .percent-fee {
//   display: none;
// }

// .fee-connection-info {
//   border: 1px solid black;
//   padding: 2px;
// }

// .inherited button {
//   border-color: #260d54;
// }

// .toggle-fee {
//   text-align: center;
// }

// .sell-price-row {
//   margin-top: 1px;
//   .editor-label label:nth-of-type(2) {
//     position: absolute;
//     margin-top: 25px;
//     padding: 0px;
//   }
//   .editor-field {
//     margin: 0px 0px 0px 155px;
//   }
// }

// .field-validation-error {
//   font-size: small;
// }

// .campaign-company-title {
//   font-size: smaller;
//   float: right;
//   font-weight: normal;
// }

// .top-margin {
//   margin-top: 35px;
// }