.index-table {
  border: 1px solid #000;
  height: 122px;
  width: 49% !important;
}

table {
  margin: 0;
  table-layout: fixed;
  text-align: center;
  box-sizing: border-box;
}
table.index-table:nth-child(odd) {
  float: left;
}
table.index-table:nth-child(even) {
  float: left;
}

td {
  padding: 0;
}

.hidden {
  display: none;
}
.image-container {
  width: 110px;
  height: 112px;
  border-right: 1px solid #000;
}
.name-container {
  height: 18px;
  width: 204px;
  overflow: hidden;
}
.icon-container {
  width: 156px;
  height: 18px;
  padding: 5px 0;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li { display: inline-block; }
  }

}
.description-container {
  width: 204px;
  height: 75px;
  overflow: hidden;
  border: none;
}

.price-tiers {
  width: 78px;
  ul { margin: 0; padding: 0; }
  li { list-style: none; }
}

.questions-container {
  width: 78px;
}

.country-container {
  width: 204px;
  overflow: hidden;
}

.moq-container {
  width: 156px;
}
