.index-table {
  border: 1px solid #000;
  height: 122px;
  width: 49.9% !important;
  font-size: 12px !important;
}
table {
  margin: 0;
  table-layout: fixed;
  text-align: center;
  border-spacing: 0;
  box-sizing: content-box;
  &.index-table {
    &:nth-child(odd) {
      float: left;
    }
    &:nth-child(even) {
      float: left;
    }
    table {
      border-spacing: 0;

    }
  }
  td {
    padding: 0;
    box-sizing: content-box;
    border-spacing: 0;
    height: 21px;
  }
}

.hidden {
  display: none;
}
.image-container {
  width: 110px;
  height: 112px;
  border-right: 1px solid #000;
  .image {
    img {
      max-width: 100px;
      max-height: 100px;
      margin: 0;
    }
  }
}
.name-container {
  height: 16px;
  width: 204px;
  overflow: hidden;
}
.icon-container {
  height: 16px;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
    }
  }
}
.description-container {
  width: 204px;
  height: 110px;
  overflow: hidden;
  border: none;
}
.price-tiers {
  width: 78px;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
}
.questions-container {
  width: 78px;
}
.country-container {
  width: 204px;
  overflow: hidden;
}


.starting-page-number {
  width: 100%;
  padding: 10px;
}


/// Define basic default for checkboxes. Do not use on its own - use mixins!
%custom-form-buttons { // hide radio buttons/checkboxes
  opacity: 0;
  float: left;
  width: 1px;
  margin: 0;

  + label {
    position: relative;
    margin: 0;
    display: block;
    width: 100%;
    padding: 10px;
    color: #222;
    background: #fff;
    border-bottom: 1px solid #eee;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      background: #ddd;
      border: 1px solid #aaa;
    }
  }

  &:checked + label {
    color: #2ea34e;

    &:before {
      background: #3dc863;
      border-color: darken(#3dc863, 10%)
    }
  }

  &:disabled + label {
    color: #ccc;

    &:before {
      background: fade-out(#ccc, .5);
      border: 2px dotted #ccc;
    }
  }

  &:focus + label {
    box-shadow: inset 0 0 3px #eee;
  }
}


// CALL THIS Default position: left. Override with @include custom-radio(right);
@mixin custom-checkbox($position: left) {

  input[type="checkbox"] {
    @extend %custom-form-buttons;

    + label {
      padding-#{$position}: 50px;

      &:before {
        height: 24px;
        width: 24px;
        margin-top: -13px;
        #{$position}: 10px;
        border-radius: 4px;
      }
    }
  }
}

dl {
  max-width: 350px;
  text-align: left !important;

  dt {
    margin: 0 0 5px;
    font-size: 18px;
  }

  dd {
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
  }
}

.check-list-left {
  @include custom-checkbox;
}

.check-list-right {
  @include custom-checkbox(right);
}

.major-category {
  text-align: center;
  .major-title {
    display: block;
    position: relative;
    font-size: 1.75em;
    border: none;
    background: none;
    padding: 0;
    margin-bottom: 3px;
    text-align: center;
    width: 100%;
    &::-webkit-input-placeholder {
      color: #000;
    }
  }
}