@media print {
  @page {
    margin: 20px;
  }
  body {
    font-size: 8px;

    .name-container a {
      text-decoration: none;
      font-weight: bold;
    }
    .page_break {
      page-break-after: always;
      break-after: page;
      display: table;
      &:last-child {
        page-break-after: avoid;
      }
    }

    .page_number {
      display: block;
      position: relative;
      span {
        position: absolute;
        top: 6.75in;
        left: 4.75in;
      }
    }

    header, .presentation-header, .header, .footer, footer,
    .heading, .top-wrapper, nav {
      display: none;
    }

    .major-category {
      margin-left: -70px;
      margin-right: -20px;
    }
  }
}