@model PASModels.PackagingType

@{
    ViewBag.Title = "Archive Packaging Type";
}

<h2>Archive Packaging Type</h2>

<h3>Are you sure you want to archive this Packaging Type?</h3>
<fieldset>
    <legend>PackagingType</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.PackagingTypeName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PackagingTypeName)
    </div>
</fieldset>
@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Archive" />
        |
        @Html.ActionLink("Back to Packaging Type List", "Index")
    </p>
}
