@model PASModels.Product

@{
    ViewBag.Title = "Create Product";
}

<h2>Create Product</h2>

@using(Html.BeginForm("Create", "Product", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="full-content">
        <legend>Product</legend>

        @Html.Partial("_EditorData")

        <p style="float: right;">
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Product List", "Index")
</div>

@section Scripts {
    
}
