.bottom-save-bar {
  position: fixed;
  width: 100%;
  padding: 20px;
  bottom: 0;
  background-color: #fff;
  text-align: right;
  margin-left: -60px;
  box-shadow: 0px -8px 47px -28px rgba(0,0,0,0.75);
  button {
    margin-right: 40px;
  }
  .md-button.md-default-theme.md-raised{
    background-color: #1fbba6 !important;
    color: #fff;
  }

}