@mixin button-effect($bg:$primary-color){
  $dark-bg: darken($bg, 5%);
  $darker-bg: darken($bg, 10%);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color:$dark-bg !important;
  border-width:2px;
  background: linear-gradient($bg, $bg 5%, $dark-bg);
  &:hover,
  &:focus,
  &:active{
    background-color: $bg;
    background: linear-gradient($bg, $bg);
    opacity: 0.95;
    box-shadow: 0 1px 1px rgba( 0, 0, 0, .1);
    border-color:$darker-bg !important;
    transition: .25s;
  }
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.0) inset;
}
.disabled:hover{
  opacity: 0.6 !important;
}
.button {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  padding: 10px 20px;
  cursor: pointer;
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}
.green { // Save
  background-color: #1fbba6;
  color: #fff;
  font-size: 16px;
  outline: none;
  text-decoration: none;
  margin-bottom: 20px;
  &:hover {
    color: white;
    background-color: #48c9b0;
    border-color: #48c9b0;
  }
  &:active {
    background: #16a085;
    border-color: #16a085;
  }
}

.dark-blue { // Cancel
  background-color: #34495e;
  color: #fff;
  &:hover {
    background-color: #415b76;
    border-color: #415b76;
  }
  &:active {
    background-color: #2c3e50;
    border-color: #2c3e50;
  }
}
.orange {
  background-color: $orange;
  border-color: $orange;
  color: #fff;
  &:hover {
    color: #fff;
    background-color: lighten($orange, 10%);
    transition: .25s;
  }
}

a,
button,
input[type="submit"]{
  &.primary-dark {
    @include button-effect($belize-hole);
  }

  &.secondary {
    @include button-effect($clouds);
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
  }
  &.success{
    @include button-effect($emerland);
  }
  &.success-dark{
   @include button-effect($turquoise);
  }
  &.success-darker{
     @include button-effect($nephritis);
  }
  &.success-darkest{
     @include button-effect($green-sea);
  }

  &.alert{
   @include button-effect($alizarin);
  }
  &.alert-dark{
   @include button-effect($pomegranate);
  }

  &.info{
   @include button-effect($sun-flower);
  }
  &.info-dark{
   @include button-effect($orange);
  }

  &.warning{
   @include button-effect($carrot);
  }
  &.warning-dark{
   @include button-effect($pumpkin);
  }

  &.highlight{
   @include button-effect($amethyst);
  }
  &.highlight-dark{
   @include button-effect($wisteria);
  }

  &.inverse{
   @include button-effect($wet-asphalt);
  }
  &.inverse-dark{
   @include button-effect($midnight-blue);
  }
}





