
/* Colors */
/* ---------------------------------------- */
$border:    #c6c6c6;
$border-focus:  #9FB1C1;
$blue:      #077ABC;
$aqua:      #07B3A1;
$asphalt:     #506982;

.form-group {
  margin-bottom: 20px;
}
h2.form-heading{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: left;
  color: $asphalt;
  border-bottom: 1px solid $asphalt;
  padding-bottom: 3px;
  margin-bottom: 20px;
  width: 100%;
}
.controls {
  text-align: left;
  position: relative;
  display: block;
  input[type="text"],
  input[type="file"],
  input[type="url"],
  input[type="email"],
  input[type="tel"],
  textarea,
  button,
  select{
    padding: 3px;
    font-size: 14px;
    border: 1px solid $border;
    width: 100%;
    margin-bottom: 18px;
    color: #000;
    font-family: 'Lato', 'sans-serif';
    font-weight: 400;
    background-color: #fff;
    border-radius: 2px;
    transition: all .3s;
    &:disabled {
      background-color: #ccc;
    }

    &:focus, &:hover{
      outline: none;
      border-color: $border-focus;
      + label{
        color: $blue;
        cursor: text;
        font-weight: bold;
      }
    }
  }
  .fa-sort{
    position: absolute;
    right: 10px;
    top: 7px;
    color: #999;
  }
  select{
    appearance: none;
    cursor: pointer;
    &:disabled {
      background-color: #ccc;
    }
  }
  label {
    color: #000;
    display: block;
    padding: 4px 5px;
    font-weight: 400;
    background-color: rgba(255,255,255,0);
    transition: color .3s, top .3s, background-color .8s;
  }
  button {
    cursor: pointer;
    background-color: $aqua;
    border: none;
    color: #fff;
    padding: 12px 0;
    &:hover{
      background-color: lighten($aqua, 5%);
    }
  }
}

input .input-validation-error,
textarea .input-validation-error,
select .input-validation-error {
  background: #FEF1EC;
  border: 1px solid #CD0A0A;
}

.form-list {
  tr:nth-child(1) {
    background: #fff !important;
    text-align: left;
    th {
      padding-left: 10px;
      padding-bottom: 10px;
      font-size: 18px;
    }
  }
}

.input-left {
  padding-right: 40px;
  flex: 1;
}
.input-right {
  flex: 1;
  justify-content: flex-start;
}

.controls {
  .sales-textarea {
    textarea {
      height: 160px;
    }
  }
  select:disabled {
    background-color: #ccc;
  }
}

.input-file-button {
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 12px;
  line-height: 1.2em;
  border: none;
  -webkit-font-smoothing: subpixel-antialiased;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  background: #f5b043;
}
.input-file {
  width: 40px;

  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}

fieldset {
  border: 0;
}

.field-validation-error {
    color: #e80c4d !important;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #e80c4d !important;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d !important;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}
