@model NPRModels.VendorName

@{
ViewBag.Title = "Archive Vendor Name";
}

<div class="heading">
    <h1>Archive Vendor Name</h1>
</div>

<div class="flex-grid">
    <section>
        <h2>Are you sure you want to Archive this Vendor Name?</h2>


        <p>
            <strong>@Html.DisplayNameFor(model => model.VendorNameName)</strong><br>
            @Html.DisplayFor(model => model.VendorNameName)
        </p>
        <br>
        @using(Html.BeginForm())
        {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" class="button green" value="Archive" />
            |
            @Html.ActionLink("Back to Vendor Name List", "Index")
        </p>
    }
</section>
</div>