@import url('//fonts.googleapis.com/css?family=Lato:300,400,700');

@import url('//weloveiconfonts.com/api/?family=fontawesome');

@import url('//weloveiconfonts.com/api/?family=entypo');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:before, :after {
  display: block;
  position: absolute;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  color: #777;
  position: relative;
  background: #f5f5f5;
  font: 15px Lato, sans-serif;

  // Sticky footer
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a {
  cursor: pointer;
  color: $darkblue;
  &:hover,
  &:active,
  &:focus {
    color: $darkerblue;
  }
}

ul {
  list-style: none;
}

/*  Collapsed styles */

main.collapsed, footer.collapsed {
  margin-left: 50px;
}

main {
  padding: 25px;
  margin-left: 250px;
  padding-bottom: 85px;
  transition: all .4s ease-in-out;
  h1 {
    height: 80px;
    margin: -25px -25px 25px -25px;
    padding: 0 25px;
    line-height: 76px;
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 1px solid #EEE;
    background: #fafafa;
  }
}

#flotTip {
  border-radius: 2px;
  padding: 3px 6px 6px;
  color: #666;
  background: #FFF;
  border: 1px solid #CCC;
  font-family: sans-serif;
  font-size: 12px;
  transition: all .3s ease-in-out;
  pointer-events: none;
  white-space: nowrap;
  .hover-title {
    font-weight: bold;
    margin: 0.25em 0;
  }
  b {
    font-size: 13px;
  }
}

.flot-x-axis div {
  white-space: nowrap;
}

.flex-grid {
  display: flex;
  > section {
    flex: 1;
    margin: 0 20px 20px 0;
    padding: 10px;
    border: 1px solid #d2d2d2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #fff;
    overflow: hidden;
    &:hover {
      border: 1px solid #bbb;
    }
    &:last-child {
      margin-right: 0;
    }
    &.seamless {
      border: none;
      background: transparent;
      text-align: center;
      position: relative;
      border-radius: 2px;
      h3 {
        font-size: 14px;
        font-weight: normal;
        margin-top: 8px;
      }
      span {
        font-size: 34px;
        color: #62a9dd;
      }
      a {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        color: #666;
        font-size: 18px;
        line-height: 73px;
        position: absolute;
        text-align: center;
        border-radius: 2px;
        text-decoration: none;
        border: 1px solid #DDD;
        background: rgba(255, 255, 255, 0.9);
        transition: .15s opacity ease-in-out;
        span {
          font-size: 30px;
          position: relative;
          top: 3px;
          color: #666;
        }
      }
      &:hover a {
        opacity: 1;
      }
    }
  }
  h2 {
    margin: -10px;
    margin-bottom: 15px;
    padding: 10px 15px 9px;
    font-size: 14px;
    color: #444;
    font-family: Arial, sans-serif;
    border-bottom: 1px solid #ddd;
  }
  .chart {
    position: relative;
    width: 100%;
    height: 200px;
  }
  .top-jobs {
    h2 {
      margin-bottom: 0;
    }
    table {
      table-layout: fixed;
    }
    thead td {
      color: #2986CA;
      &:nth-child(2) {
        width: 75px;
      }
    }
    td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    tbody td:nth-child(2) {
      font-weight: bold;
      font-family: Arial, sans-serif;
    }
  }
  .status-log li {
    font-size: 14px;
    margin-bottom: 12px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .account {
    font-size: 13px;
    .field {
      color: #2CA784;
      font-size: 14px;
      margin-left: 10px;
      font-weight: bold;
    }
    span {
      line-height: 22px;
    }
    h3.title {
      margin: 8px 0 2px 10px;
      display: block;
      padding: 0;
      font-weight: bold;
      font-family: Arial, sans-serif;
      font-size: 14px;
      color: #555;
    }
    .sub-content {
      padding-left: 12px;
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
    thead td {
      color: #555;
      padding: 10px;
      font-size: 14px;
      font-weight: bold;
    }
    tbody {
      tr:nth-child(odd) {
        background: #f9f9f9;
      }
      td {
        padding: 10px;
        font-size: 12px;
        border-top: 1px solid #ddd;
      }
    }
  }
}

.truncate {
  width: 250px;
  height: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}