.index-table {
  border: 1px solid #000;
  height: 112px;
}

table {
  margin: 0;
  table-layout: fixed;
  text-align: center;
  box-sizing: border-box;
}
table.floats:nth-child(odd) {
  float: right;
}
table.floats:nth-child(even) {
  float: left;
}
table.floats:nth-child(10),
table.floats:nth-child(11),
table.floats:nth-child(18),
table.floats:nth-child(19),
table.floats:nth-child(26),
table.floats:nth-child(27),
table.floats:nth-child(34),
table.floats:nth-child(35),
 {
  margin-bottom: 200px;
}

td {
  padding: 0;
}


.image-container {
  width: 112px;
  height: 112px;
  border-right: 1px solid #000;
}
.name-container {
  height: 18px;
  width: 204px;
  overflow: hidden;
}
.icon-container {
  width: 156px;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li { display: inline-block; }
  }
  img {
    margin: 5px;
  }
}
.description-container {
  width: 204px;
  height: 75px;
  overflow: hidden;
  border: none;
}

.price-tiers {
  width: 78px;
  ul { margin: 0; padding: 0; }
  li { list-style: none; }
}

.questions-container {
  width: 78px;
}

.country-container {
  width: 204px;
  overflow: hidden;
}

.moq-container {
  width: 156px;
}

@media print {
  @page {
    margin: .4in .2in .2in .2in;
  }
  body {
    background-color: #fff;
    width: 100%;
  }

  .site-title, h2, h3, header {
    display: none;
  }
}