@media print {
  @page {
    margin: .3in .3in .3in .4in;
  }
  body {
    background-color: #fff;
    width: 100%;
  }
  main {
    padding: 0;
  }

  table {
    &:nth-child(12) {
      margin-bottom: 30px;
    }
  }
  nav, .print, footer {
    display: none;
    width: 0;
  }
  .flex-grid {
    margin-left: -50px;
    width: 100%;
    position: absolute;

  }
  .flex-grid > section {
    border: none;
    padding: 0;
    &:hover {
      border: none;
    }
  }
  .presentation-items {
    margin-bottom: 0;
    padding: 0;
  }

}