.clients {
  min-width: 47.9%;
  .edit {
    position: relative;
    float: right;
    color: #fff;
    &:before {
      content: '';
      position:absolute;
      right: -10px;
      top: -10px;
      border-top: 50px solid $darkerblue;
      border-left: 50px solid transparent;
    }
    i:before {
      top: -1px;
      left: -10px;
    }
  }
}