/* On the flex container */
.presentation-container {
  @extend %flexbox;
  flex-direction: row;
  border: 1px solid #ccc;
  padding: 10px;
  div {
    &.headings {
      font-size: 16px;
      font-weight: bold;
    }
    &:nth-child(1) { // Image
      flex: 1;
      flex-grow: 3;
    }
    &:nth-child(2) { // Name & Description
      flex: 2;
      flex-grow: 6;
      max-height: 100px;
      overflow: hidden;
    }
    &:nth-child(3) { // Category
      flex: 3;
      flex-grow: 4;
    }
    &:nth-child(4) { // Country
      flex: 4;
      flex-grow: 3;
    }
    &:nth-child(5) { // Employee/Corportate
      flex: 5;
      flex-grow: 3;
    }
    &:nth-child(6) { // Dealer
      flex: 6;
      flex-grow: 2;
    }
    &:nth-child(7) { // Retail
      flex: 7;
      flex-grow: 2;
    }
    &:nth-child(8) { //Notes
      flex: 8;
      flex-grow: 8;
    }
  }
}

.presentation-items {
  @extend .presentation-container;
  border-bottom: 1px solid $darkblue;
  margin-bottom: 30px;
  div {
    padding: 10px 0;
    &:nth-child(3) { // Category
      flex: 3;
      flex-grow: 4;
      border-right: 1px solid #ccc;
    }
  }

  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: verical;
  }
}

