/* On the flex container */
.presentation-container {
  @extend %flexbox;
  align-content: space-around;
  text-align: center;
  section {
    &.headings {
      font-size: 16px;
      font-weight: bold;
      padding-bottom: 10px;
    }
    &:nth-child(1) { // ID
      flex: 1;
    }
    &:nth-child(2) { // Name
      flex: 2;
      flex-grow: 2;
    }
    &:nth-child(3) { // Image
      flex: 3;
      flex-grow: 3;
    }
    &:nth-child(4) { // Category
      flex: 4;
      flex-grow: 2;
    }
    &:nth-child(5) { // Country
      flex: 5;
      flex-grow: 2;
    }
    &:nth-child(6) { // Description
      flex: 6;
      flex-grow: 4;
    }
    &:nth-child(7) { // Employee/Corportate
      flex: 7;
      flex-grow: 3;
    }
    &:nth-child(8) { // Deader
      flex: 8;
      flex-grow: 1;
    }
    &:nth-child(9) { // Retail
      flex: 9;
      flex-grow: 1;
    }
    &:nth-child(10) { //Notes
      flex: 10;
      flex-grow: 0;
      visibility: hidden;
    }
    &:nth-child(11) { // Approved
      flex: 11;
      flex-grow: 0;
      visibility: hidden;
    }
  }
}

.presentation-items {
  @extend .presentation-container;
  border-top: 1px solid $darkblue;
  section {
    padding: 10px 0;
  }

  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: verical;
  }
}