.nav {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;

  > li {
    position: relative;
    display: block;

    > a {
      position: relative;
      display: block;
      padding: 10px;
      &:hover,
      &:focus {
        text-decoration: none;
        background-color: #000;
      }
    }

    // Disabled state sets text to gray and nukes hover/tab effects
    &.disabled > a {
      color: #fff;

      &:hover,
      &:focus {
        color: #fff;
        text-decoration: none;
        background-color: transparent;
        cursor: not-allowed;
      }
    }
  }
}

.nav-tabs {
  border: 1px solid $lightgray;
  > li {
    float: left;
    line-height: 29px;
    font-size: rem(12px);
    border-right: 1px solid $lightgray;
    transition: all .3s ease-in-out;
    > a {
      line-height: 16px / 2;
      border: 1px solid transparent;
      border-radius: 3px 3px 0 0;
      &:hover {
        background: #000;
        color: white;
        text-decoration: none;
      }
    }
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: #fff;
        background-color: #000;
        border-bottom-color: transparent;
        cursor: default;
      }
    }
  }
}

.tab-content {
  border: 1px solid $lightgray;
  padding: 10px;
  > .tab-pane {
    display: none;
  }
  > .ng-show {
    display: block;

    ul {
      list-style-type: disc;
      margin-left: 1em;
    }
  }
}