@using PAS.Models;
@using PAS.Helpers;
@{
    ViewBag.Title = "Home Page";
}

<div class="flex-grid-client">
    @if (ViewBag.Companies != null)
    {
        Html.RenderPartial("~/Views/Company/_CompanyList.cshtml", (IEnumerable<Company>)ViewBag.Companies);
    }
</div>
