@media print {
    .page_break {
        page-break-after: always;
        break-after: page;
        display: table;
    }

        .page_break .page_number {
            display: table-footer-group;
        }

    .presentation-header, .header, .footer, footer {
        display: none;
    }
}
