@media print {
  body {
    background-color: #fff; }

  main {
    padding: 0; }

  nav, .print, nav.main.collapsed {
    display: none;
    width: 0; }

  .flex-grid > section {
    border: none;
    padding: 0; }
    .flex-grid > section:hover {
      border: none; }

  main,
  main.collapsed {
    margin: 0; } }
