.drag-and-drop-table {
  width: 100%; }

.button {
  margin: 5px; }

.index-table {
  border: 1px solid #000;
  height: 122px;
  width: 49.9% !important;
  font-size: 12px !important; }

table {
  margin: 0;
  table-layout: fixed;
  text-align: center;
  border-spacing: 0;
  box-sizing: content-box; }
  table.index-table:nth-child(odd) {
    float: left; }
  table.index-table:nth-child(even) {
    float: left; }
  table.index-table table {
    border-spacing: 0; }
  table td {
    padding: 0;
    box-sizing: content-box;
    border-spacing: 0;
    height: 21px; }

.hidden {
  display: none; }

.image-container {
  width: 110px;
  height: 112px;
  border-right: 1px solid #000; }
  .image-container .image img {
    max-width: 107px;
    max-height: 150px;
    margin: 0; }

.name-container {
  height: 16px;
  width: 204px;
  overflow: hidden; }

.icon-container {
  height: 16px; }
  .icon-container ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .icon-container ul li {
      display: inline-block; }

.description-container {
  width: 204px;
  height: 107px;
  overflow: hidden;
  border: none; }

.price-tiers {
  width: 78px; }
  .price-tiers ul {
    margin: 0;
    padding: 0; }
  .price-tiers li {
    list-style: none; }

.questions-container {
  width: 78px; }

.country-container {
  width: 204px;
  overflow: hidden; }

.starting-page-number {
  width: 50px;
  padding: 10px; }

.check-list-left input[type="checkbox"], .check-list-right input[type="checkbox"] {
  opacity: 0;
  float: left;
  width: 1px;
  margin: 0; }
  .check-list-left input[type="checkbox"] + label, .check-list-right input[type="checkbox"] + label {
    position: relative;
    margin: 0;
    display: block;
    width: 100%;
    padding: 10px;
    color: #222;
    background: #fff;
    border-bottom: 1px solid #eee; }
    .check-list-left input[type="checkbox"] + label:before, .check-list-right input[type="checkbox"] + label:before {
      content: "";
      position: absolute;
      top: 50%;
      background: #ddd;
      border: 1px solid #aaa; }
  .check-list-left input[type="checkbox"]:checked + label, .check-list-right input[type="checkbox"]:checked + label {
    color: #2ea34e; }
    .check-list-left input[type="checkbox"]:checked + label:before, .check-list-right input[type="checkbox"]:checked + label:before {
      background: #3dc863;
      border-color: #2ea44e; }
  .check-list-left input[type="checkbox"]:disabled + label, .check-list-right input[type="checkbox"]:disabled + label {
    color: #ccc; }
    .check-list-left input[type="checkbox"]:disabled + label:before, .check-list-right input[type="checkbox"]:disabled + label:before {
      background: rgba(204, 204, 204, 0.5);
      border: 2px dotted #ccc; }
  .check-list-left input[type="checkbox"]:focus + label, .check-list-right input[type="checkbox"]:focus + label {
    box-shadow: inset 0 0 3px #eee; }

dl {
  max-width: 350px;
  text-align: left !important; }
  dl dt {
    margin: 0 0 5px;
    font-size: 18px; }
  dl dd {
    margin: 0;
    max-height: 200px;
    overflow-y: auto; }

.check-list-left input[type="checkbox"] + label {
  padding-left: 50px; }
  .check-list-left input[type="checkbox"] + label:before {
    height: 24px;
    width: 24px;
    margin-top: -13px;
    left: 10px;
    border-radius: 4px; }

.check-list-right input[type="checkbox"] + label {
  padding-right: 50px; }
  .check-list-right input[type="checkbox"] + label:before {
    height: 24px;
    width: 24px;
    margin-top: -13px;
    right: 10px;
    border-radius: 4px; }

.major-category, .presentation-major-category {
  min-width: 47.9%;
  padding-left: 0 !important;
  padding-right: 0 !important; }
  .major-category th, .presentation-major-category th {
    padding-bottom: 5px; }
  .major-category .major-title, .presentation-major-category .major-title {
    display: block;
    position: relative;
    font-size: 1.75em;
    border: none;
    background: none;
    padding: 0;
    margin-bottom: 3px;
    text-align: center;
    width: 100%; }
    .major-category .major-title::-webkit-input-placeholder, .presentation-major-category .major-title::-webkit-input-placeholder {
      color: #000; }

.presentation-major-category h2 {
  font-size: 1em; }

body.dragging, body.dragging * {
  cursor: move !important; }

.dragged {
  position: absolute;
  opacity: 1;
  z-index: 2000;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2); }

tr.placeholder {
  position: relative;
  /** More li styles **/ }

tr.placeholder:before {
  position: absolute;
  /** Define arrowhead **/ }

.flex-grid-category table {
  table-layout: auto; }

.flex-grid-category tbody tr:hover {
  background-color: #eee;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  cursor: -webkit-grab; }

.sortable-category:hover {
  cursor: -webkit-grab; }

.sortable-table-header {
  font-weight: bold;
  margin-bottom: 15px; }

.sortable-table-header ul, .sortable-table ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center; }
  .sortable-table-header ul li, .sortable-table ul li {
    overflow: hidden; }
  .sortable-table-header ul .product-column, .sortable-table ul .product-column {
    width: 35px; }
  .sortable-table-header ul .product-name, .sortable-table ul .product-name {
    width: 200px; }
  .sortable-table-header ul .minor-category-name, .sortable-table ul .minor-category-name {
    width: 120px; }

.sortable-table ul {
  border-top: 1px solid #cecece;
  padding: 10px 0; }
  .sortable-table ul.selected {
    background-color: #eee;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    cursor: -webkit-grab; }


/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInByZXNlbnRhdGlvbi5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0UsQUFBTzs7QUFFVDtFQUNFLEFBQVE7O0FBR1Y7RUFDRSxBQUFRO0VBQ1IsQUFBUTtFQUNSLEFBQU87RUFDUCxBQUFXOztBQUdiO0VBQ0UsQUFBUTtFQUNSLEFBQWM7RUFDZCxBQUFZO0VBQ1osQUFBZ0I7RUFDaEIsQUFBWTtFQUdkLEFBQUssQUFBWTtJQUNYLEFBQU87RUFHYixBQUFLLEFBQVk7SUFDWCxBQUFPO0VBR2IsQUFBSyxBQUFhO0lBQ1osQUFBZ0I7RUFJdEIsQUFBTTtJQUNGLEFBQVM7SUFDVCxBQUFZO0lBQ1osQUFBZ0I7SUFDaEIsQUFBUTs7QUFJWjtFQUNFLEFBQVM7O0FBR1g7RUFDRSxBQUFPO0VBQ1AsQUFBUTtFQUNSLEFBQWM7RUFHaEIsQUFBaUIsQUFBTztJQUNsQixBQUFXO0lBQ1gsQUFBWTtJQUNaLEFBQVE7O0FBS2Q7RUFDRSxBQUFRO0VBQ1IsQUFBTztFQUNQLEFBQVU7O0FBR1o7RUFDRSxBQUFRO0VBRVYsQUFBZ0I7SUFDWixBQUFRO0lBQ1IsQUFBUztJQUNULEFBQWlCO0lBRXJCLEFBQWdCLEFBQUc7TUFDYixBQUFTOztBQUtmO0VBQ0UsQUFBTztFQUNQLEFBQVE7RUFDUixBQUFVO0VBQ1YsQUFBUTs7QUFHVjtFQUNFLEFBQU87RUFFVCxBQUFhO0lBQ1QsQUFBUTtJQUNSLEFBQVM7RUFHYixBQUFhO0lBQ1QsQUFBWTs7QUFJaEI7RUFDRSxBQUFPOztBQUdUO0VBQ0UsQUFBTztFQUNQLEFBQVU7O0FBSVo7RUFDRSxBQUFPO0VBQ1AsQUFBUzs7QUFLVyxBQUFpQixBQUFLLEFBQW1CLEFBQWtCLEFBQUs7RUFDcEYsQUFBUztFQUNULEFBQU87RUFDUCxBQUFPO0VBQ1AsQUFBUTtFQUVvQixBQUFpQixBQUFLLEFBQW9CLEFBQU8sQUFBa0IsQUFBSyxBQUFvQjtJQUN0SCxBQUFVO0lBQ1YsQUFBUTtJQUNSLEFBQVM7SUFDVCxBQUFPO0lBQ1AsQUFBUztJQUNULEFBQU87SUFDUCxBQUFZO0lBQ1osQUFBZTtJQUVrQixBQUFpQixBQUFLLEFBQW9CLEFBQUssQUFBUyxBQUFrQixBQUFLLEFBQW9CLEFBQUs7TUFDdkksQUFBUztNQUNULEFBQVU7TUFDVixBQUFLO01BQ0wsQUFBWTtNQUNaLEFBQVE7RUFJd0IsQUFBaUIsQUFBSyxBQUFpQixBQUFXLEFBQU8sQUFBa0IsQUFBSyxBQUFpQixBQUFXO0lBQzlJLEFBQU87SUFFa0MsQUFBaUIsQUFBSyxBQUFpQixBQUFXLEFBQUssQUFBUyxBQUFrQixBQUFLLEFBQWlCLEFBQVcsQUFBSztNQUMvSixBQUFZO01BQ1osQUFBYztFQUltQixBQUFpQixBQUFLLEFBQWlCLEFBQVksQUFBTyxBQUFrQixBQUFLLEFBQWlCLEFBQVk7SUFDakosQUFBTztJQUVtQyxBQUFpQixBQUFLLEFBQWlCLEFBQVksQUFBSyxBQUFTLEFBQWtCLEFBQUssQUFBaUIsQUFBWSxBQUFLO01BQ2xLLEFBQVk7TUFDWixBQUFRO0VBSXNCLEFBQWlCLEFBQUssQUFBaUIsQUFBUyxBQUFPLEFBQWtCLEFBQUssQUFBaUIsQUFBUztJQUN4SSxBQUFZOztBQXlCaEI7RUFDRSxBQUFXO0VBQ1gsQUFBWTtFQUVkLEFBQUc7SUFDQyxBQUFRO0lBQ1IsQUFBVztFQUdmLEFBQUc7SUFDQyxBQUFRO0lBQ1IsQUFBWTtJQUNaLEFBQVk7O0FBMUJoQixBQUFpQixBQUFLLEFBQW9CO0VBQ3BDLEFBQXNCO0VBRTVCLEFBQWlCLEFBQUssQUFBb0IsQUFBSztJQUN2QyxBQUFRO0lBQ1IsQUFBTztJQUNQLEFBQVk7SUFDWixBQUFjO0lBQ2QsQUFBZTs7QUFSdkIsQUFBa0IsQUFBSyxBQUFvQjtFQUNyQyxBQUFzQjtFQUU1QixBQUFrQixBQUFLLEFBQW9CLEFBQUs7SUFDeEMsQUFBUTtJQUNSLEFBQU87SUFDUCxBQUFZO0lBQ1osQUFBYztJQUNkLEFBQWU7O0FBOEJ2QixBQUFpQjtFQUVmLEFBQVc7RUFDWCxBQUFjO0VBQ2QsQUFBZTtFQUNqQixBQUFnQixBQUFJLEFBQTZCO0lBQzdDLEFBQWdCO0VBRXBCLEFBQWdCLEFBQWMsQUFBNkI7SUFDdkQsQUFBUztJQUNULEFBQVU7SUFDVixBQUFXO0lBQ1gsQUFBUTtJQUNSLEFBQVk7SUFDWixBQUFTO0lBQ1QsQUFBZTtJQUNmLEFBQVk7SUFDWixBQUFPO0lBQ1gsQUFBZ0IsQUFBWSxBQUE2QixBQUE2QixBQUFZO01BQzVGLEFBQU87O0FBS2IsQUFBNkI7RUFDM0IsQUFBVzs7QUFFYixBQUFJLEFBQVcsQUFBSSxBQUFVO0VBQzNCLEFBQVE7O0FBR1Y7RUFDRSxBQUFVO0VBQ1YsQUFBUztFQUNULEFBQVM7RUFDVCxBQUEyQzs7QUFHN0MsQUFBRTtFQUNBLEFBQVU7OztBQUdaLEFBQUUsQUFBWTtFQUNaLEFBQVU7OztBQUlaLEFBQW9CO0VBQ2xCLEFBQWM7O0FBR2hCLEFBQW9CLEFBQU0sQUFBRTtFQUMxQixBQUFrQjtFQUNsQixBQUEyQztFQUMzQyxBQUFROztBQUdWLEFBQWtCO0VBQ2hCLEFBQVE7O0FBR1Y7RUFDRSxBQUFhO0VBQ2IsQUFBZTs7QUFJakIsQUFBdUIsQUFBSSxBQUFnQjtFQUN2QyxBQUFTO0VBQ1QsQUFBZ0I7RUFDaEIsQUFBaUI7RUFDakIsQUFBTztFQUNQLEFBQWE7RUFDakIsQUFBdUIsQUFBRyxBQUFJLEFBQWdCLEFBQUc7SUFDM0MsQUFBVTtFQUVoQixBQUF1QixBQUFHLEFBQWlCLEFBQWdCLEFBQUc7SUFDeEQsQUFBTztFQUdiLEFBQXVCLEFBQUcsQUFBZSxBQUFnQixBQUFHO0lBQ3RELEFBQU87RUFFYixBQUF1QixBQUFHLEFBQXNCLEFBQWdCLEFBQUc7SUFDN0QsQUFBTzs7QUFJYixBQUFnQjtFQUNkLEFBQVk7RUFDWixBQUFTO0VBQ1gsQUFBZ0IsQUFBRTtJQUNkLEFBQWtCO0lBQ2xCLEFBQTJDO0lBQzNDLEFBQVEiLCJmaWxlIjoicHJlc2VudGF0aW9uLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi5kcmFnLWFuZC1kcm9wLXRhYmxlIHtcbiAgd2lkdGg6IDEwMCU7XG59XG4uYnV0dG9uIHtcbiAgbWFyZ2luOiA1cHg7XG59XG5cbi5pbmRleC10YWJsZSB7XG4gIGJvcmRlcjogMXB4IHNvbGlkICMwMDA7XG4gIGhlaWdodDogMTIycHg7XG4gIHdpZHRoOiA0OS45JSAhaW1wb3J0YW50O1xuICBmb250LXNpemU6IDEycHggIWltcG9ydGFudDtcbn1cblxudGFibGUge1xuICBtYXJnaW46IDA7XG4gIHRhYmxlLWxheW91dDogZml4ZWQ7XG4gIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgYm9yZGVyLXNwYWNpbmc6IDA7XG4gIGJveC1zaXppbmc6IGNvbnRlbnQtYm94O1xuXG4gICYuaW5kZXgtdGFibGUge1xuICAgICY6bnRoLWNoaWxkKG9kZCkge1xuICAgICAgZmxvYXQ6IGxlZnQ7XG4gICAgfVxuXG4gICAgJjpudGgtY2hpbGQoZXZlbikge1xuICAgICAgZmxvYXQ6IGxlZnQ7XG4gICAgfVxuXG4gICAgdGFibGUge1xuICAgICAgYm9yZGVyLXNwYWNpbmc6IDA7XG4gICAgfVxuICB9XG5cbiAgdGQge1xuICAgIHBhZGRpbmc6IDA7XG4gICAgYm94LXNpemluZzogY29udGVudC1ib3g7XG4gICAgYm9yZGVyLXNwYWNpbmc6IDA7XG4gICAgaGVpZ2h0OiAyMXB4O1xuICB9XG59XG5cbi5oaWRkZW4ge1xuICBkaXNwbGF5OiBub25lO1xufVxuXG4uaW1hZ2UtY29udGFpbmVyIHtcbiAgd2lkdGg6IDExMHB4O1xuICBoZWlnaHQ6IDExMnB4O1xuICBib3JkZXItcmlnaHQ6IDFweCBzb2xpZCAjMDAwO1xuXG4gIC5pbWFnZSB7XG4gICAgaW1nIHtcbiAgICAgIG1heC13aWR0aDogMTA3cHg7XG4gICAgICBtYXgtaGVpZ2h0OiAxNTBweDtcbiAgICAgIG1hcmdpbjogMDtcbiAgICB9XG4gIH1cbn1cblxuLm5hbWUtY29udGFpbmVyIHtcbiAgaGVpZ2h0OiAxNnB4O1xuICB3aWR0aDogMjA0cHg7XG4gIG92ZXJmbG93OiBoaWRkZW47XG59XG5cbi5pY29uLWNvbnRhaW5lciB7XG4gIGhlaWdodDogMTZweDtcblxuICB1bCB7XG4gICAgbWFyZ2luOiAwO1xuICAgIHBhZGRpbmc6IDA7XG4gICAgbGlzdC1zdHlsZS10eXBlOiBub25lO1xuXG4gICAgbGkge1xuICAgICAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xuICAgIH1cbiAgfVxufVxuXG4uZGVzY3JpcHRpb24tY29udGFpbmVyIHtcbiAgd2lkdGg6IDIwNHB4O1xuICBoZWlnaHQ6IDEwN3B4O1xuICBvdmVyZmxvdzogaGlkZGVuO1xuICBib3JkZXI6IG5vbmU7XG59XG5cbi5wcmljZS10aWVycyB7XG4gIHdpZHRoOiA3OHB4O1xuXG4gIHVsIHtcbiAgICBtYXJnaW46IDA7XG4gICAgcGFkZGluZzogMDtcbiAgfVxuXG4gIGxpIHtcbiAgICBsaXN0LXN0eWxlOiBub25lO1xuICB9XG59XG5cbi5xdWVzdGlvbnMtY29udGFpbmVyIHtcbiAgd2lkdGg6IDc4cHg7XG59XG5cbi5jb3VudHJ5LWNvbnRhaW5lciB7XG4gIHdpZHRoOiAyMDRweDtcbiAgb3ZlcmZsb3c6IGhpZGRlbjtcbn1cblxuXG4uc3RhcnRpbmctcGFnZS1udW1iZXIge1xuICB3aWR0aDogNTBweDtcbiAgcGFkZGluZzogMTBweDtcbn1cblxuXG4vLy8gRGVmaW5lIGJhc2ljIGRlZmF1bHQgZm9yIGNoZWNrYm94ZXMuIERvIG5vdCB1c2Ugb24gaXRzIG93biAtIHVzZSBtaXhpbnMhXG4lY3VzdG9tLWZvcm0tYnV0dG9ucyB7IC8vIGhpZGUgcmFkaW8gYnV0dG9ucy9jaGVja2JveGVzXG4gIG9wYWNpdHk6IDA7XG4gIGZsb2F0OiBsZWZ0O1xuICB3aWR0aDogMXB4O1xuICBtYXJnaW46IDA7XG5cbiAgKyBsYWJlbCB7XG4gICAgcG9zaXRpb246IHJlbGF0aXZlO1xuICAgIG1hcmdpbjogMDtcbiAgICBkaXNwbGF5OiBibG9jaztcbiAgICB3aWR0aDogMTAwJTtcbiAgICBwYWRkaW5nOiAxMHB4O1xuICAgIGNvbG9yOiAjMjIyO1xuICAgIGJhY2tncm91bmQ6ICNmZmY7XG4gICAgYm9yZGVyLWJvdHRvbTogMXB4IHNvbGlkICNlZWU7XG5cbiAgICAmOmJlZm9yZSB7XG4gICAgICBjb250ZW50OiBcIlwiO1xuICAgICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgICAgdG9wOiA1MCU7XG4gICAgICBiYWNrZ3JvdW5kOiAjZGRkO1xuICAgICAgYm9yZGVyOiAxcHggc29saWQgI2FhYTtcbiAgICB9XG4gIH1cblxuICAmOmNoZWNrZWQgKyBsYWJlbCB7XG4gICAgY29sb3I6ICMyZWEzNGU7XG5cbiAgICAmOmJlZm9yZSB7XG4gICAgICBiYWNrZ3JvdW5kOiAjM2RjODYzO1xuICAgICAgYm9yZGVyLWNvbG9yOiBkYXJrZW4oIzNkYzg2MywgMTAlKTtcbiAgICB9XG4gIH1cblxuICAmOmRpc2FibGVkICsgbGFiZWwge1xuICAgIGNvbG9yOiAjY2NjO1xuXG4gICAgJjpiZWZvcmUge1xuICAgICAgYmFja2dyb3VuZDogZmFkZS1vdXQoI2NjYywgLjUpO1xuICAgICAgYm9yZGVyOiAycHggZG90dGVkICNjY2M7XG4gICAgfVxuICB9XG5cbiAgJjpmb2N1cyArIGxhYmVsIHtcbiAgICBib3gtc2hhZG93OiBpbnNldCAwIDAgM3B4ICNlZWU7XG4gIH1cbn1cblxuXG4vLyBDQUxMIFRISVMgRGVmYXVsdCBwb3NpdGlvbjogbGVmdC4gT3ZlcnJpZGUgd2l0aCBAaW5jbHVkZSBjdXN0b20tcmFkaW8ocmlnaHQpO1xuQG1peGluIGN1c3RvbS1jaGVja2JveCgkcG9zaXRpb246IGxlZnQpIHtcblxuICBpbnB1dFt0eXBlPVwiY2hlY2tib3hcIl0ge1xuICAgIEBleHRlbmQgJWN1c3RvbS1mb3JtLWJ1dHRvbnM7XG5cbiAgICArIGxhYmVsIHtcbiAgICAgIHBhZGRpbmctI3skcG9zaXRpb259OiA1MHB4O1xuXG4gICAgICAmOmJlZm9yZSB7XG4gICAgICAgIGhlaWdodDogMjRweDtcbiAgICAgICAgd2lkdGg6IDI0cHg7XG4gICAgICAgIG1hcmdpbi10b3A6IC0xM3B4O1xuICAgICAgICAjeyRwb3NpdGlvbn06IDEwcHg7XG4gICAgICAgIGJvcmRlci1yYWRpdXM6IDRweDtcbiAgICAgIH1cbiAgICB9XG4gIH1cbn1cblxuZGwge1xuICBtYXgtd2lkdGg6IDM1MHB4O1xuICB0ZXh0LWFsaWduOiBsZWZ0ICFpbXBvcnRhbnQ7XG5cbiAgZHQge1xuICAgIG1hcmdpbjogMCAwIDVweDtcbiAgICBmb250LXNpemU6IDE4cHg7XG4gIH1cblxuICBkZCB7XG4gICAgbWFyZ2luOiAwO1xuICAgIG1heC1oZWlnaHQ6IDIwMHB4O1xuICAgIG92ZXJmbG93LXk6IGF1dG87XG4gIH1cbn1cblxuLmNoZWNrLWxpc3QtbGVmdCB7XG4gIEBpbmNsdWRlIGN1c3RvbS1jaGVja2JveDtcbn1cblxuLmNoZWNrLWxpc3QtcmlnaHQge1xuICBAaW5jbHVkZSBjdXN0b20tY2hlY2tib3gocmlnaHQpO1xufVxuXG4ubWFqb3ItY2F0ZWdvcnksXG4ucHJlc2VudGF0aW9uLW1ham9yLWNhdGVnb3J5IHtcbiAgbWluLXdpZHRoOiA0Ny45JTtcbiAgcGFkZGluZy1sZWZ0OiAwICFpbXBvcnRhbnQ7XG4gIHBhZGRpbmctcmlnaHQ6IDAgIWltcG9ydGFudDtcbiAgdGgge1xuICAgIHBhZGRpbmctYm90dG9tOiA1cHg7XG4gIH1cbiAgLm1ham9yLXRpdGxlIHtcbiAgICBkaXNwbGF5OiBibG9jaztcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gICAgZm9udC1zaXplOiAxLjc1ZW07XG4gICAgYm9yZGVyOiBub25lO1xuICAgIGJhY2tncm91bmQ6IG5vbmU7XG4gICAgcGFkZGluZzogMDtcbiAgICBtYXJnaW4tYm90dG9tOiAzcHg7XG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgIHdpZHRoOiAxMDAlO1xuICAgICY6Oi13ZWJraXQtaW5wdXQtcGxhY2Vob2xkZXIge1xuICAgICAgY29sb3I6ICMwMDA7XG4gICAgfVxuICB9XG59XG5cbi5wcmVzZW50YXRpb24tbWFqb3ItY2F0ZWdvcnkgaDIge1xuICBmb250LXNpemU6IDFlbTtcbn1cbmJvZHkuZHJhZ2dpbmcsIGJvZHkuZHJhZ2dpbmcgKiB7XG4gIGN1cnNvcjogbW92ZSAhaW1wb3J0YW50O1xufVxuXG4uZHJhZ2dlZCB7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgb3BhY2l0eTogMTtcbiAgei1pbmRleDogMjAwMDtcbiAgYm94LXNoYWRvdzogMCA2cHggMjBweCAwIHJnYmEoMCwgMCwgMCwgMC4xOSksIDAgOHB4IDE3cHggMCByZ2JhKDAsIDAsIDAsIDAuMik7XG59XG5cbnRyLnBsYWNlaG9sZGVyIHtcbiAgcG9zaXRpb246IHJlbGF0aXZlO1xuICAvKiogTW9yZSBsaSBzdHlsZXMgKiovXG59XG50ci5wbGFjZWhvbGRlcjpiZWZvcmUge1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIC8qKiBEZWZpbmUgYXJyb3doZWFkICoqL1xufVxuXG4uZmxleC1ncmlkLWNhdGVnb3J5IHRhYmxlIHtcbiAgdGFibGUtbGF5b3V0OiBhdXRvO1xufVxuXG4uZmxleC1ncmlkLWNhdGVnb3J5IHRib2R5IHRyOmhvdmVyIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogI2VlZTtcbiAgYm94LXNoYWRvdzogMCAycHggMTBweCAwIHJnYmEoMCwgMCwgMCwgMC4xNiksIDAgMnB4IDVweCAwIHJnYmEoMCwgMCwgMCwgMC4yNik7XG4gIGN1cnNvcjogLXdlYmtpdC1ncmFiO1xufVxuXG4uc29ydGFibGUtY2F0ZWdvcnk6aG92ZXIge1xuICBjdXJzb3I6IC13ZWJraXQtZ3JhYjtcbn1cblxuLnNvcnRhYmxlLXRhYmxlLWhlYWRlciB7XG4gIGZvbnQtd2VpZ2h0OiBib2xkO1xuICBtYXJnaW4tYm90dG9tOiAxNXB4O1xufVxuLnNvcnRhYmxlLXRhYmxlLWhlYWRlcixcbi5zb3J0YWJsZS10YWJsZSAge1xuICB1bCB7XG4gICAgZGlzcGxheTogZmxleDtcbiAgICBmbGV4LWRpcmVjdGlvbjogcm93O1xuICAgIGp1c3RpZnktY29udGVudDogc3BhY2UtYXJvdW5kO1xuICAgIHdpZHRoOiAxMDAlO1xuICAgIGFsaWduLWl0ZW1zOiBjZW50ZXI7XG4gICAgbGkge1xuICAgICAgb3ZlcmZsb3c6IGhpZGRlbjtcbiAgICB9XG4gICAgLnByb2R1Y3QtY29sdW1uIHtcbiAgICAgIHdpZHRoOiAzNXB4O1xuICAgIH1cblxuICAgIC5wcm9kdWN0LW5hbWUge1xuICAgICAgd2lkdGg6IDIwMHB4O1xuICAgIH1cbiAgICAubWlub3ItY2F0ZWdvcnktbmFtZSB7XG4gICAgICB3aWR0aDogMTIwcHg7XG4gICAgfVxuICB9XG59XG4uc29ydGFibGUtdGFibGUgdWwge1xuICBib3JkZXItdG9wOiAxcHggc29saWQgI2NlY2VjZTtcbiAgcGFkZGluZzogMTBweCAwO1xuICAmLnNlbGVjdGVkIHtcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjZWVlO1xuICAgIGJveC1zaGFkb3c6IDAgMnB4IDEwcHggMCByZ2JhKDAsIDAsIDAsIDAuMTYpLCAwIDJweCA1cHggMCByZ2JhKDAsIDAsIDAsIDAuMjYpO1xuICAgIGN1cnNvcjogLXdlYmtpdC1ncmFiO1xuICB9XG59Il0sInNvdXJjZVJvb3QiOiIvc291cmNlLyJ9 */