@media print {

  .page_break {
    page-break-after: always;
    break-after: page;
    display: table;
  }
  .page_number {
    display: block;
    position: relative;
    text-align: center;
    margin-top: -25px;
    padding-bottom: 30px;
  }
  .page_break+.page_break {
    page-break-before: always;
  }


  header, .presentation-header, .header, .footer, footer {
    display: none;
  }
}
