@media print {
  body {
    font-size: 8px; }
    body .name-container a {
      text-decoration: none;
      font-weight: bold; }
    body .page_break {
      page-break-after: always;
      break-after: page;
      display: table; }
      body .page_break:last-child {
        page-break-after: avoid; }
    body .page_number {
      display: block;
      position: relative; }
      body .page_number span {
        position: absolute;
        top: 6.75in;
        left: 6in; }
    body header, body .presentation-header, body .header, body .footer, body footer, body .heading, body .top-wrapper, body nav {
      display: none; }
    body .major-category {
      margin-left: -70px;
      margin-right: -20px; } }


/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInByaW50LnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7RUFFQTtJQUNJLEFBQVc7SUFFZixBQUFLLEFBQWdCO01BQ2YsQUFBaUI7TUFDakIsQUFBYTtJQUVuQixBQUFLO01BQ0MsQUFBa0I7TUFDbEIsQUFBYTtNQUNiLEFBQVM7TUFDZixBQUFLLEFBQVc7UUFDUixBQUFrQjtJQUkxQixBQUFLO01BQ0MsQUFBUztNQUNULEFBQVU7TUFDaEIsQUFBSyxBQUFhO1FBQ1YsQUFBVTtRQUNWLEFBQUs7UUFDTCxBQUFNO0lBSWQsQUFBSyxBQUFRLEFBQUssQUFBc0IsQUFBSyxBQUFTLEFBQUssQUFBUyxBQUFLLEFBQVEsQUFBSyxBQUFVLEFBQUssQUFBYyxBQUFLO01BRWxILEFBQVM7SUFHZixBQUFLO01BQ0MsQUFBYTtNQUNiLEFBQWMiLCJmaWxlIjoicHJpbnQuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiQG1lZGlhIHByaW50IHtcblxuICBib2R5IHtcbiAgICBmb250LXNpemU6IDhweDtcblxuICAgIC5uYW1lLWNvbnRhaW5lciBhIHtcbiAgICAgIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbiAgICAgIGZvbnQtd2VpZ2h0OiBib2xkO1xuICAgIH1cbiAgICAucGFnZV9icmVhayB7XG4gICAgICBwYWdlLWJyZWFrLWFmdGVyOiBhbHdheXM7XG4gICAgICBicmVhay1hZnRlcjogcGFnZTtcbiAgICAgIGRpc3BsYXk6IHRhYmxlO1xuICAgICAgJjpsYXN0LWNoaWxkIHtcbiAgICAgICAgcGFnZS1icmVhay1hZnRlcjogYXZvaWQ7XG4gICAgICB9XG4gICAgfVxuXG4gICAgLnBhZ2VfbnVtYmVyIHtcbiAgICAgIGRpc3BsYXk6IGJsb2NrO1xuICAgICAgcG9zaXRpb246IHJlbGF0aXZlO1xuICAgICAgc3BhbiB7XG4gICAgICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICAgICAgdG9wOiA2Ljc1aW47XG4gICAgICAgIGxlZnQ6IDZpbjtcbiAgICAgIH1cbiAgICB9XG5cbiAgICBoZWFkZXIsIC5wcmVzZW50YXRpb24taGVhZGVyLCAuaGVhZGVyLCAuZm9vdGVyLCBmb290ZXIsXG4gICAgLmhlYWRpbmcsIC50b3Atd3JhcHBlciwgbmF2IHtcbiAgICAgIGRpc3BsYXk6IG5vbmU7XG4gICAgfVxuXG4gICAgLm1ham9yLWNhdGVnb3J5IHtcbiAgICAgIG1hcmdpbi1sZWZ0OiAtNzBweDtcbiAgICAgIG1hcmdpbi1yaWdodDogLTIwcHg7XG4gICAgfVxuXG4gIH1cbn0iXSwic291cmNlUm9vdCI6Ii9zb3VyY2UvIn0= */