@media print {
  @page { }

  body {
    font-size: 8px; }
    body #body {
      margin-top: -25px !important; }
    body .name-container a {
      text-decoration: none;
      font-weight: bold; }
    body .page_break {
      page-break-after: always;
      break-after: page;
      display: table; }
      body .page_break:last-child {
        page-break-after: avoid; }
    body .page_number {
      display: block;
      position: relative; }
      body .page_number span {
        position: absolute;
        top: 6.75in;
        left: 4.75in; }
    body header, body .presentation-header, body .header, body .footer, body footer, body .heading, body .top-wrapper, body nav {
      display: none; }
    body .presentation-major-category {
      margin-left: -70px;
      margin-right: -20px; } }


/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInByaW50LnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7OztFQUlBO0lBQ0ksQUFBVztJQUNmLEFBQUs7TUFDQyxBQUFZO0lBR2xCLEFBQUssQUFBZ0I7TUFDZixBQUFpQjtNQUNqQixBQUFhO0lBRW5CLEFBQUs7TUFDQyxBQUFrQjtNQUNsQixBQUFhO01BQ2IsQUFBUztNQUNmLEFBQUssQUFBVztRQUNSLEFBQWtCO0lBSTFCLEFBQUs7TUFDQyxBQUFTO01BQ1QsQUFBVTtNQUNoQixBQUFLLEFBQWE7UUFDVixBQUFVO1FBQ1YsQUFBSztRQUNMLEFBQU07SUFJZCxBQUFLLEFBQVEsQUFBSyxBQUFzQixBQUFLLEFBQVMsQUFBSyxBQUFTLEFBQUssQUFBUSxBQUFLLEFBQVUsQUFBSyxBQUFjLEFBQUs7TUFFbEgsQUFBUztJQUdmLEFBQUs7TUFDQyxBQUFhO01BQ2IsQUFBYyIsImZpbGUiOiJwcmludC5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyJAbWVkaWEgcHJpbnQge1xuICBAcGFnZSB7XG5cbiAgfVxuICBib2R5IHtcbiAgICBmb250LXNpemU6IDhweDtcbiAgICAjYm9keXtcbiAgICAgIG1hcmdpbi10b3A6IC0yNXB4ICFpbXBvcnRhbnQ7XG4gICAgfVxuXG4gICAgLm5hbWUtY29udGFpbmVyIGEge1xuICAgICAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xuICAgICAgZm9udC13ZWlnaHQ6IGJvbGQ7XG4gICAgfVxuICAgIC5wYWdlX2JyZWFrIHtcbiAgICAgIHBhZ2UtYnJlYWstYWZ0ZXI6IGFsd2F5cztcbiAgICAgIGJyZWFrLWFmdGVyOiBwYWdlO1xuICAgICAgZGlzcGxheTogdGFibGU7XG4gICAgICAmOmxhc3QtY2hpbGQge1xuICAgICAgICBwYWdlLWJyZWFrLWFmdGVyOiBhdm9pZDtcbiAgICAgIH1cbiAgICB9XG5cbiAgICAucGFnZV9udW1iZXIge1xuICAgICAgZGlzcGxheTogYmxvY2s7XG4gICAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gICAgICBzcGFuIHtcbiAgICAgICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgICAgICB0b3A6IDYuNzVpbjtcbiAgICAgICAgbGVmdDogNC43NWluO1xuICAgICAgfVxuICAgIH1cblxuICAgIGhlYWRlciwgLnByZXNlbnRhdGlvbi1oZWFkZXIsIC5oZWFkZXIsIC5mb290ZXIsIGZvb3RlcixcbiAgICAuaGVhZGluZywgLnRvcC13cmFwcGVyLCBuYXYge1xuICAgICAgZGlzcGxheTogbm9uZTtcbiAgICB9XG5cbiAgICAucHJlc2VudGF0aW9uLW1ham9yLWNhdGVnb3J5IHtcbiAgICAgIG1hcmdpbi1sZWZ0OiAtNzBweDtcbiAgICAgIG1hcmdpbi1yaWdodDogLTIwcHg7XG4gICAgfVxuICB9XG59Il0sInNvdXJjZVJvb3QiOiIvc291cmNlLyJ9 */