@model NPR2._0._8.Models.VendorType

@{
    ViewBag.Title = "Delete Vendor Type";
}

<h2>Delete Vendor Type</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>VendorType</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.VendorTypeName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VendorTypeName)
    </div>
</fieldset>
@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" />
        |
        @Html.ActionLink("Back to Vendor Type List", "Index")
    </p>
}
