@model NPR2._0._8.Models.DecorationMethod

@{
    ViewBag.Title = "Delete Decoration Method";
}

<h2>Delete Decoration Method</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>DecorationMethod</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.DecorationMethodName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DecorationMethodName)
    </div>
</fieldset>
@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" />
        |
        @Html.ActionLink("Back to Decoration Method List", "Index")
    </p>
}
