/* line 1, ../sass/presentation.scss */
.index-table {
  border: 1px solid #000;
  height: 112px;
}

/* line 6, ../sass/presentation.scss */
table {
  margin: 0;
  table-layout: fixed;
  text-align: center;
  box-sizing: border-box;
}

/* line 12, ../sass/presentation.scss */
table.floats:nth-child(odd) {
  float: right;
}

/* line 15, ../sass/presentation.scss */
table.floats:nth-child(even) {
  float: left;
}

/* line 18, ../sass/presentation.scss */
table.floats:nth-child(10),
table.floats:nth-child(11),
table.floats:nth-child(18),
table.floats:nth-child(19),
table.floats:nth-child(26),
table.floats:nth-child(27),
table.floats:nth-child(34),
table.floats:nth-child(35) {
  margin-bottom: 200px;
}

/* line 30, ../sass/presentation.scss */
td {
  padding: 0;
}

/* line 35, ../sass/presentation.scss */
.image-container {
  width: 112px;
  height: 112px;
  border-right: 1px solid #000;
}

/* line 40, ../sass/presentation.scss */
.name-container {
  height: 18px;
  width: 204px;
  overflow: hidden;
}

/* line 45, ../sass/presentation.scss */
.icon-container {
  width: 156px;
}
/* line 47, ../sass/presentation.scss */
.icon-container img {
  margin: 5px;
}

/* line 51, ../sass/presentation.scss */
.description-container {
  width: 204px;
  height: 75px;
  overflow: hidden;
  border: none;
}

/* line 58, ../sass/presentation.scss */
.price-tiers {
  width: 78px;
}
/* line 60, ../sass/presentation.scss */
.price-tiers ul {
  margin: 0;
  padding: 0;
}
/* line 61, ../sass/presentation.scss */
.price-tiers li {
  list-style: none;
}

/* line 64, ../sass/presentation.scss */
.questions-container {
  width: 78px;
}

/* line 68, ../sass/presentation.scss */
.country-container {
  width: 204px;
  overflow: hidden;
}

/* line 73, ../sass/presentation.scss */
.moq-container {
  width: 156px;
}

@media print {
  @page {
    margin: .4in .2in .2in .2in;
  }
  /* line 81, ../sass/presentation.scss */
  body {
    background-color: #fff;
    width: 100%;
  }

  /* line 86, ../sass/presentation.scss */
  .site-title, h2, h3, header {
    display: none;
  }
}
