.fee-filter {
  @extend .controls;
  @extend .seamless;
  align-items: baseline;
  text-align: left !important;
  span {
    color: red !important;
    font-size: 14px !important;
  }
  .button {
    margin-top: 30px;
  }
}

.delete-row {
  height: 21px;
  width: 21px;
  overflow: hidden;
  border-radius: 50%;
  line-height: 21px;
  display: inline-block;
  font-size: 14px;
  outline: none;
  color: $pink;
  margin-right: 2px;
  margin-bottom: -5px;
  &:hover,
  &:active {
    background-color: lightgray;
    cursor: pointer;
  }
  &:before {
    content: '\f00d';
    font-family: FontAwesome;
    padding-left: 5px;
  }
}

.dollar-fee,
.percent-fee  {
  padding: 3px;
  select {
    width: 70%;
    margin-right: 8px;
  }
  input {
    margin-left: 5px;
  }
}

.percent-fee {
  input { width: 10%; }
}