.fee-filter {
  @extend .controls;
  @extend .seamless;
  align-items: baseline;
  text-align: left !important;
  span {
    color: red !important;
    font-size: 14px !important;
  }
  .button {
    margin-top: 30px;
  }
}

.delete-row {
  height: 21px;
  width: 21px;
  overflow: hidden;
  border-radius: 50%;
  line-height: 21px;
  display: inline-block;
  font-size: 14px;
  outline: none;
  color: $pink;
  margin-right: 2px;
  margin-bottom: -5px;
  &:hover,
  &:active {
    background-color: lightgray;
    cursor: pointer;
  }
  &:before {
    content: '\f00d';
    font-family: FontAwesome;
    padding-left: 5px;
  }
}
.main-fees-container {
  -webkit-flex: 2 0 0;
  flex: 2 0 0;
}
.add-on-fee-container {
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}

.dollar-fee,
.percent-fee {
  padding: 3px;
  select {
    width: 70%;
    margin-right: 8px;
  }
  input {
    margin-left: 5px;
    padding: 3px;
  }
}

.percent-fee {
  input { width: 10%; }
}

.charge-type {
  margin-left: 10px;
}

.amortized-container {
  .left-contain,
  .right-contain {
    margin: 0 10px;
    .align-top {
      margin-top: -5px;
    }
  }
  .left-contain {
    float: left;
    margin-left: 28px;
  }
  .right-contain {
    float: right;
    text-align: right;
    margin-right: 0;
  }

  .editor-label {
    display: inline;
    float: left;

  }
  .editor-field {
    width: 30%;
    display: inline-block;
  }
}

.fees {
  margin: 10px 0;
}