.product-add-detail,
.product-fees-default,
.product-fees,
.decoration-container {
  background-color: #fff;
  width: 100%;
}

.product-fees-default,
.product-fees,
.decoration-container {
  margin-top: 20px;
}

.decoration-container {
  padding: 20px;

  li {
    width: 100%;
  }
}

.product-fees-buttons {
  background-color: #f5f5f5;
  align-items: center;
  justify-content: center;
  padding-top: 20px;

  button {
    max-width: 50%;
    margin: 0 10px;
  }
}

.inline-left,
.inline-middle,
.inline-right {
  padding: 10px;
  margin: 0;
  @include span-columns(4);

  .controls {
    input[type="text"],
    input[type="url"],
    input[type="email"],
    input[type="tel"],
    textarea,
    button,
    textarea,
    select {
      width: 80% !important;
      display: inline-block;
    }
  }
}

.inline-right {
  @include omega;
}

.edit-product {
  .form-heading {
    cursor: pointer;

    .fa {
      position: absolute;
      color: red;
      margin-top: 0px;
      margin-left: 10px;
    }
  }
}

.product-title-container {
  background-color: $darkblue;
  width: 100%;
  padding: 10px;

  ul {
    float: left;
    margin-right: 30px;
    color: transparent;
  }

  li {
    display: inline-block;

    label {
      color: #fff;
    }

    input, select {
      width: 250px !important;
      margin-bottom: 0 !important;
    }
  }
}

.toggle-fee {
  text-align: left;
  position: relative;

  button {
    font-size: 14px;
    padding: 5px 15px 5px 30px;
    margin-top: 10px;
  }

  .fa:before {
    top: 15px;
    left: 5px;
    font-size: 21px;
  }
}

.toggle-content {
  width: 100%;
}


.tab-headers {
  position: relative;
  background-color: $bgbody;
  display: block;
  width: 100%;

  li {
    float: left;

    a {
      position: relative;
      display: block;
      top: -1px;
      left: 0;
      padding: 5px 20px;
      text-decoration: none;
    }

    &:not(.active) {
      background-color: $lightergray;
      box-shadow: inset 61px 61px 35px -75px black;
    }
  }

  .active {
    background-color: #fff;
  }
}

.comments {
  padding: 10px;
  @include span-columns(3 of 12);

  &.last {
    @include omega;
  }

  textarea {
    min-height: 50px;
  }
}


.add-fee,
.add-plus {
  position: relative;

  a {
    display: inline;
    position: relative;

    .fa-plus-square {
      position: absolute;
      top: -2px;
      margin-left: 10px;
      color: $teal;
      font-size: 21px;

      &:hover {
        color: darken($teal, 2%);
      }

      &:active {
        color: darken($teal, 5%);
      }
    }
  }
}

.cost-info {
  padding: 20px;
  text-align: center;
}


.main-fee-calc-container,
.product-fees {
  background: #fff;
  margin-top: 10px;
  padding: 20px;
  flex: 2 0 0;

  input, select {
    padding: 3px;

    &:disabled {
      background-color: #efefef;
      cursor: not-allowed;
    }
  }
}

.side-fee-calc-container {
  flex: 1 0 0;
  margin: 0 0 10px 10px;
}

.product-cost,
.net-cost {
  background: $darkblue;
  margin-top: 10px;
  margin-right: -5px;
  padding: 10px 20px 5px 10px;
  flex: 2 0 0;

  input,
  .cost {
    padding: 3px;
    float: right;
  }

  input {
    color: #000;
  }

  h2 {
    border: none;
    margin: 0 !important;
    display: inline;
    color: #fff;
    font-weight: normal;
  }
}

.product-decoration {
  display: flex;
  flex-direction: row;
  background-color: lighten($lightgray, 30%);
  margin-bottom: 10px;
}

.decorate-delete {
  width: 2% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.action-icons {
  padding: 0;

  li {
    display: inline-block;
    margin: 0 5px;
  }
}

a.edit-btn,
a.archive-btn {
  .fa-pencil-square-o,
  .fa-archive,
  .fa-undo {
    color: $darkblue;
    font-size: 18px;
    transition: color 0.5s ease;

    &:hover {
      color: $teal;
    }

    &:before {
      position: relative;
    }
  }
}

.thumb-image {
  height: 43px;
}

.fixed-textarea {
  textarea {
    height: 160px;
  }
}