.product-add-detail,
.product-add-detail2 {
  background-color: #fff;
}
.product-add-detail2 {
  margin-top: 20px;
}
.inline-left,
.inline-middle,
.inline-right {
  padding: 10px;
  margin: 0;
  @include span-columns(4);
  .controls {
    input[type="text"],
    input[type="file"],
    input[type="url"],
    input[type="email"],
    input[type="tel"],
    textarea,
    button,
    textarea,
    select {
      width: 80% !important;
      display: inline-block;
    }
  }
}
.inline-right {
  @include omega;
}

.edit-product {
  .form-heading {
    cursor: pointer;
    .fa {
      position: absolute;
      color: red;
      margin-top: 0px;
      margin-left: 10px;
    }
  }
}

.product-title-container {
  background-color: $darkblue;
  width: 100%;
  padding: 10px;
  ul {
    float: left;
    margin-right: 30px;
    color: transparent;
  }
  li {
    display: inline-block;
    label { color: #fff; }
    input, select {
      width: 250px !important;
      margin-bottom: 0 !important;
    }
  }
}

.toggle-content {
  width: 100%;
}

.tab-headers {
  position: relative;
  background-color: $bgbody;
  display: block;
  width: 100%;
  li {
    float: left;

    a {
      position: relative;
      display: block;
      top: -1px;
      left: 0;
      padding: 5px 20px;
      text-decoration: none;
    }
    &:not(.active) {
      background-color: $lightergray;
      box-shadow: inset 61px 61px 35px -75px black;
    }
  }
  .active {
    background-color: #fff;
  }
}

.comments {
  padding: 10px;
  @include span-columns(3 of 12);
  &.last {
    @include omega;
  }
}