@model NPRModels.VendorName

@{
    ViewBag.Title = "Archive Vendor Name";
}

<h2>Archive Vendor Name</h2>

<h3>Are you sure you want to Archive this Vendor Name?</h3>
<fieldset>
    <legend>VendorName</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.VendorNameName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VendorNameName)
    </div>
</fieldset>
@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Archive" />
        |
        @Html.ActionLink("Back to Vendor Name List", "Index")
    </p>
}
