
/* Colors */
/* ---------------------------------------- */
$border:    #c6c6c6;
$border-focus:  #9FB1C1;
$blue:      #077ABC;
$aqua:      #07B3A1;
$asphalt:     #506982;

.form-group {
  margin-bottom: 20px;
}
h2.form-heading{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: left;
  color: $asphalt;
  border-bottom: 1px solid $asphalt;
  padding-bottom: 3px;
  margin-bottom: 20px;
  width: 100%;
}
.controls {
  text-align: left;
  position: relative;
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea,
  button,
  select{
    padding: 12px;
    font-size: 14px;
    border: 1px solid $border;
    width: 100%;
    margin-bottom: 18px;
    color: #888;
    font-family: 'Lato', 'sans-serif';
    font-size: 16px;
    font-weight: 300;
     background-color: #fff;
    border-radius: 2px;
    transition: all .3s;

    &:focus, &:hover{
      outline: none;
      border-color: $border-focus;
      + label{
        color: $blue;
          cursor: text;
      }
    }
  }
  .fa-sort{
    position: absolute;
    right: 10px;
    top: 7px;
    color: #999;
  }
  select{
    appearance: none;
    cursor: pointer;
  }
  label {
    color: #555;
    font-size: 16px;
    display: inline-block;
    padding: 4px 10px;
    font-weight: 400;
    background-color: rgba(255,255,255,0);
    transition: color .3s, top .3s, background-color .8s;
  }
  textarea{

  }
  button{
    cursor: pointer;
    background-color: $aqua;
    border: none;
    color: #fff;
    padding: 12px 0;
    &:hover{
      background-color: lighten($aqua, 5%);
    }
  }
}

.field-validation-error {
  color: red;
}

.form-list {
    tr:nth-child(1) {
    background: #fff !important;
    text-align: left;
    th {
      padding-left: 10px;
      padding-bottom: 10px;
      font-size: 18px;
    }
  }
}