@model IEnumerable<NPRModels.Company>
@using NPRModels;
@using NPR2._0._8.Helpers;


@foreach (var item in Model)
{
  <section class="clients">
      <a class="edit" href="@Url.Action("Edit", "Company", new { id = item.CompanyID }, null)"><i class="fa fa-edit"></i></a>

    <h2>
      <div class="image">
        @if (item != null && item.CompanyImage != null)
        {
        <img src="@Url.Action("Show", "Company", new { id = item.CompanyID })" />
      }
    </div>

  </h2>
  <p>
    <button class="button orange">@Html.ActionLink(string.Format(" Campaign", item.CompanyName), "Create", "Campaign", new { ReturnUrl = Url.Action("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl }), CompanyID = item.CompanyID }, null)</button>
  </p>

  @{
  Html.RenderPartial("~/Views/Campaign/_CampaignList.cshtml", (IEnumerable<Campaign>)item.Campaigns.Where(c => c.CampaignStatus != MyExtensions.GetEnumDescription(Status.Archived)));
}
</section>
}
