@model IEnumerable<NPRModels.Company>
@using NPRModels;
@using NPR2._0._8.Helpers;

<p>
    @Html.ActionLink("Create New Company", "Create", "Company", new { ReturnUrl = Url.Action("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl }) }, null)
</p>
@foreach (var item in Model)
{
    <div class="left-half-content">
        <h2>
            @Html.ActionLink(Html.DisplayFor(modelItem => item.CompanyName) + " [" + Html.DisplayFor(modelItem => item.CompanyDivisionNumber) + "]", "Edit", "Company", new { id = item.CompanyID }, null)
        </h2>
        <p>
            @Html.ActionLink(string.Format("Create New {0} Campaign", item.CompanyName), "Create", "Campaign", new { ReturnUrl = Url.Action("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl }), CompanyID = item.CompanyID }, null)
        </p>
    </div>
    <div class="right-half-content">

        <div class="image">
            @if (item != null && item.CompanyImage != null)
            {
                <img src="@Url.Action("Show", "Company", new { id = item.CompanyID })" />
            }
        </div>
    </div>
            Html.RenderPartial("~/Views/Campaign/_CampaignList.cshtml", (IEnumerable<Campaign>)item.Campaigns.Where(c => c.CampaignStatus != MyExtensions.GetEnumDescription(Status.Archived)));
    <hr />
}
