
<ol class="round">
  <li class="one">
    <h5>Company</h5>
    @Html.ActionLink("Company List", "Index", "Company")
  </li>

  <li class="two">
    <h5>Campaign</h5>
    @Html.ActionLink("Campaign List", "Index", "Campaign")
  </li>
</ol>


<ol class="round">
  <li class="one">
    <h5>Vendor Names</h5>
    @Html.ActionLink("Vendor Name List", "Index", "VendorName")
  </li>
</ol>
