
<div class="flex-grid">
  <section>
    @Html.ActionLink("Company List", "Index", "Company")
  </section>

  <section>
    @Html.ActionLink("Campaign List", "Index", "Campaign")
  </section>

  <section>
    @Html.ActionLink("Vendor Name List", "Index", "VendorName")
  </section>
  <section>
    @if(User.Identity.Name.ToLower().Contains("john.grabanski") ||
    User.Identity.Name.ToLower().Contains("rhonda.viviano") ||
    User.Identity.Name.ToLower().Contains("jaime.keller") ||
    User.Identity.Name.ToLower().Contains("reid.binns") ||
    User.Identity.Name.ToLower().Contains("susan.kowelman") ||
    User.Identity.Name.ToLower().Contains("kim.walta"))
    {
    @Html.ActionLink("Admin Links", "AdminLinks", "Home")
  }
</section>
</div>