@model IEnumerable<NPRModels.Company>
@using NPRModels;
@using PAS.Helpers;

<p>
    @Html.ActionLink("Create New Company", "Create", "Company", new { ReturnUrl = Url.Action("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl }) }, null)
</p>
@foreach (var item in Model)
{
    <div class="full-content">
        <h2>
            @Html.ActionLink(Html.DisplayFor(modelItem => item.CompanyName) + " [" + Html.DisplayFor(modelItem => item.CompanyDivisionNumber) + "]", "Edit", "Company", new { id = item.CompanyID }, null)
        </h2>
        <p>
            @Html.ActionLink(string.Format("Create New {0} Campaign", item.CompanyName), "Create", "Campaign", new { ReturnUrl = Url.Action("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl }), CompanyID = item.CompanyID }, null)
        </p>
        @{
            Html.RenderPartial("~/Views/Campaign/_CampaignList.cshtml", (IEnumerable<Campaign>)item.Campaigns.Where(c => c.CampaignStatus != MyExtensions.GetEnumDescription(Status.Archived)));
        }
    </div>
    <hr />
}
